<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home | Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      .footer
      {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
      }
    </style>
  </head>
  <body>
    {% load static %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'portfolio:home' %}">BADGUY0592</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:home' %}">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">DB Manage</a>
            </li>
          </ul>
        </div>
      </nav>
      <br><Br>
      <div class="row">
        <img src="{% static 'personalportfolio/BADGUY.jpg' %}" class="col-lg-4" alt=" BADGUY0592">
        <div class="col-lg-2 col-md-4">
          <div class="card text-white bg-dark mb-3">
            <div class="card-header">BADGUY0592</div>
            <div class="card-body">
              <a href="{% url 'blog:home' %}" style="text-decoration:none"><h5 class="card-title"><i class="fa fa-tasks"></i> Projects</h5></a>
              <a href="#" style="text-decoration:none"><h5 class="card-title"><i class="fa fa-file-text"></i> Resume</h5></a>
              <a href="https://github.com/BADGUY0592" style="text-decoration:none" target="_blank"><h5 class="card-title"><i class="fa fa-github"></i> Github</h5></a>
            </div>
          </div>
          <div class="card text-white bg-dark mb-3">
            <div class="card-header">Currently</div>
            <div class="card-body">
              <a href="" style="text-decoration:none"><h6 class="card-title"><i class="fa fa-android"></i> Android Developer</h6></a>
                <a href="" style="text-decoration:none"><h6 class="card-title"><i class="fa fa-desktop"></i> Full Stack Web Developer</h6></a>
                  <a href="" style="text-decoration:none"><h6 class="card-title"><i class="fa fa-cubes"></i> Software Developer</h6></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="card border-primary mb-3">
            <div class="card-header">Experienced Web Languages</div>
            <div class="card-body text-primary">
              <h6 class="card-title">Laravel Framework</h6>
              <h6 class="card-title">Django Framework</h6>
              <h6 class="card-title">HTML, Bootstrap, CSS, Tailwind CSS</h6>
              <h6 class="card-title">Javascript, Jquery, AJAX</h6>
              <h6 class="card-title">PHP, JSP</h6>
            </div>
          </div>
          <div class="card border-dark mb-3">
            <div class="card-header">Experienced Databases</div>
            <div class="card-body text-primary">
              <h6 class="card-title">Oracle 10g</h6>
              <h6 class="card-title">My SQL</h6>
              <h6 class="card-title">SQLite</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="card border-success mb-3">
            <div class="card-header">Experienced Software Languages</div>
            <div class="card-body text-primary">
              <h6 class="card-title"> C, C++</h6>
              <h6 class="card-title">JAVA</h6>
              <h6 class="card-title">Python 3.8.3</h6>
              <h6 class="card-title">Ruby</h6>
              <h6 class="card-title">Android, Ruby</h6>
            </div>
          </div>
          <div class="card border-danger mb-3">
            <div class="card-header">Experienced Platforms</div>
            <div class="card-body text-primary">
              <h6 class="card-title">Netbeans</h6>
              <h6 class="card-title">Visual Studio</h6>
              <h6 class="card-title">Atom</h6>
              <h6 class="card-title">Github</h6>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br>
      <div class="navbar navbar-expand-lg navbar-dark bg-dark footer">
        <span class="h5 navbar-brand">
          Contact Me
          <a href="mailto:" style="padding:10px"><i class="fa fa-envelope" style="font-size:30px;"></i></a>
          <a href="#" style="padding:10px"><img src="{% static 'personalportfolio/discord.png' %}" style="width:30px;height:30px" alt=""></a>
        </span>
      </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
